@font-face {
  font-family: "iconfont"; /* Project id 914804 */
  src: url('../font/iconfont.woff2') format('woff2'),
       url('../font/iconfont.woff2') format('woff'),
       url('../font/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantoushang:before {
  content: "\e62c";
}

.icon-tuitetwitter44:before {
  content: "\e6ef";
}

.icon-jiantouxia:before {
  content: "\e62e";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-language:before {
  content: "\e9cf";
}

.icon-bofang:before {
  content: "\e630";
}

.icon-zhongbo:before {
  content: "\e60c";
}

.icon-shouye:before {
  content: "\e612";
}

.icon-icon-back:before {
  content: "\e621";
}

.icon-icon-backs:before {
  content: "\e623";
}

.icon-fangzi:before {
  content: "\e6d3";
}

.icon-gengduo1:before {
  content: "\e604";
}

.icon-gengduo:before {
  content: "\e627";
}

.icon-icon02:before {
  content: "\e602";
}

.icon-weixin:before {
  content: "\e635";
}

.icon-help:before {
  content: "\e600";
}

.icon-up:before {
  content: "\e601";
}

.icon-xinshixin:before {
  content: "\e603";
}

.icon-xin:before {
  content: "\e645";
}

.icon-shanchu:before {
  content: "\e6cb";
}

.icon-qianjin:before {
  content: "\e74e";
}

.icon-guanbi:before {
  content: "\e63e";
}

.icon-guanbi1:before {
  content: "\e653";
}

.icon-icon-:before {
  content: "\e62a";
}

.icon-guanbi2:before {
  content: "\e6dc";
}

.icon-guanbi3:before {
  content: "\e61b";
}

